<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".sim.CallInCallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
        </service>
    </application>

</manifest>
